<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--headerFragment 선언-->

    <title>Document</title>
    <link rel="stylesheet" href="/static/css/haedfooter.css">
</head>
<body>
<footer>
    <div id="footer1_main">
        <div id ="footer1_grid">
            <div class="footer1_gridbox">
                <div class="footer_logo"></div>
            </div>
            <div class="footer1_gridbox">
                <p class="footer_text">상호명 : 한국만예사 ㅣ 대표자 : 윤주상  ㅣ 전화 : 051-123-4567 ㅣ
                    팩스 : 051-123-4567 ㅣ 이메일: wntkdrbtkd1@gmail.com
                </p>
                <p class="footer_text">사무실 주소 : 서울시 종로구 삼일대로30길 37 4층
                <p class="footer_text"> 사업자등록번호 : 560-08-02146 ㅣ 통신판매업신고번호 : 2022-서울종로-1485호</p>
                </p>
                <p class="footer_text">
                    매장주소 : 서울시 중구 소공로1-2 소공지하쇼핑센터 15호 ㅣ 개인정보관리책임자 : 윤주상
                </p>
            </div>
            <div class="footer1_gridbox">
                <p class="footer_link"><a href="/policy/policies">이용약관</a></p>
                <p class="footer_link">l</p>
                <p class="footer_link"><a href="/policy/private"> 개인정보처리방침</a></p>
            </div>
        </div>
    </div>
</footer>
<script src="/js/jquery.js"></script>
<script src="/js/headfoot.js"></script>
</body>
</html>