<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>게시물 작성 폼</title>

    <link rel="stylesheet" href="../css/headfoot.css">

</head>


<body>
<header>
    <div id="header_color">
        <div id="header_line">
            <form action="#" class="main_selectbox">
                <select name="" id="lang" class="main_select">
                    <option value="Korea">한국어</option>
                    <option value="USA">english</option>
                    <option value="China">中國語</option>
                    <option value="Russia">Русский</option>
                </select>
            </form>
            <ul>
                <li th:if="${nickname == null}"><a href="/login">로그인</a></li>
                <li th:if="${nickname == null}"><a href="/join">회원가입</a></li>
                <li th:if="${nickname != null}"><span th:text="${nickname}">사용자 닉네임</span></li>
                <li th:if="${nickname != null}"><a href="/logout">로그아웃</a></li>
                <li><a href="/customerCenter/main">고객센터</a></li>
                <li><a href="#">배송안내</a></li>
            </ul>
        </div>
    </div>
    <div class="header_logo">
        <div id="header_space">
            <a href="/main/home">
                <div id="logo_image"></div>
            </a>
            <div id="header_search">
                <input type="search" id="header_type">
                <button type="submit" id="header_button"></button>
            </div>
            <div id="header_icon">
                <a href="/mypage/main"><div id="header_mypage"></div></a>
                <div id="header_delivery"></div>
                <div id="header_basket"></div>
            </div>
        </div>
    </div>
    <div class="main_menu">
        <nav>
            <ul>
                <li>
                    <a href="#">전통기념품</a>
                    <ul class="submenu">
                        <li><a href="/mugunghwa/category">열쇠고리</a></li>
                        <li><a href="/mugunghwa/category">자석</a></li>
                        <li><a href="/mugunghwa/category">문구</a></li>
                        <li><a href="/mugunghwa/category">카드/옆서</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">나전칠기</a>
                    <ul class="submenu">
                        <li><a href="/mugunghwa/category">보석함</a></li>
                        <li><a href="/mugunghwa/category">쌍합</a></li>
                        <li><a href="/mugunghwa/category">병풍/쟁반</a></li>
                        <li><a href="/mugunghwa/category">자개거울</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">섬유공예</a>
                    <ul class="submenu">
                        <li><a href="/mugunghwa/category">티셔츠</a></li>
                        <li><a href="/mugunghwa/category">한복인형</a></li>
                        <li><a href="/mugunghwa/category">한복액자</a></li>
                        <li><a href="/mugunghwa/category">와인커버</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">목공예</a>
                    <ul class="submenu">
                        <li><a href="/mugunghwa/category">전통탈</a></li>
                        <li><a href="/mugunghwa/category">탈액자</a></li>
                        <li><a href="/mugunghwa/category">오리원앙</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">금속공예</a>
                    <ul class="submenu">
                        <li><a href="/mugunghwa/category">문종</a></li>
                        <li><a href="/mugunghwa/category">주물종</a></li>
                        <li><a href="/mugunghwa/category">액자</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <hr>
</header>





    <div class="layout">

        <form action="/board/writepro" method="post">
            <input placeholder="제목" name="boardTitle" type="text" required >
            <textarea placeholder="내용" name="boardContent" required></textarea>
            <button type="submit">작성</button>
<!--            <input class="check_input" type="checkbox" name="boardSecret" id="boardSecret">-->
<!--            <label class="check_label">비밀글 설정</label>-->

<!--            &lt;!&ndash;&#45;&#45;비밀번호 입력 창-&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--            <div class="tow mt-4">-->
<!--                <div class="col-md-10 offset-md-1">-->
<!--                    <div class="form-floationg">-->
<!--                        <input type="password" name="password" class="form-control" placeholder="비밀번호">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </form>

    </div>



<footer>
    <div id="footer1_main">
        <div id ="footer1_grid">
            <div class="footer1_gridbox">
                <div class="footer_logo"></div>
            </div>
            <div class="footer1_gridbox">
                <p class="footer_text">상호명 : 한국만예사 ㅣ 대표자 : 윤주상  ㅣ 전화 : 051-123-4567 ㅣ
                    팩스 : 051-123-4567 ㅣ 이메일: wntkdrbtkd1@gmail.com
                </p>
                <p class="footer_text">사무실 주소 : 서울시 종로구 삼일대로30길 37 4층 ㅣ 사업자등록번호 : 560-08-02146
                    ㅣ 통신판매업신고번호 : 2022-서울종로-1485호
                </p>
                <p class="footer_text">
                    매장주소 : 서울시 중구 소공로1-2 소공지하쇼핑센터 15호 ㅣ 개인정보관리책임자 : 윤주상
                </p>
            </div>
            <div class="footer1_gridbox">
                <p class="footer_link"><a href="#">이용약관</a></p>
                <p class="footer_link">l</p>
                <p class="footer_link"><a href="#"> 개인정보처리방침</a></p>
            </div>
        </div>
    </div>
</footer>
<script>
</script>
<script src="js/jquery.js"></script>
<script src="js/headfoot.js"></script>
<script src="js/main1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>