<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/headfoot.css">
    <link rel="stylesheet" href="/css/payment.css">
</head>
<body>

<!--<p class="pay_color2" th:text="${user.memPhone}"></p>-->
<!--<form th:action="@{'/mugunghwa/orderdetail' + ${register.productId}}" method="post" enctype="multipart/form-data">-->
<!--<form action="/admin/IdUser/{productId}(productId=${register.productId})}" method="post" enctype="multipart/form-data">-->

<!--<form action="/admin/IdUser}" method="post" enctype="multipart/form-data">-->
    <div class="pay_main">
        <a href=""><div class="pay_logo"></div></a>
        <hr class="pay_grade">
        <div>
            <p class="pay_font">주문/결제</p>
        </div>
        <hr class="pay_black">
        <p class="pay_information1">구매자 정보</p><!-- 구매자 정보 시작(이름,이메일,휴대폰번호) -->
        <div class="pay_edge1">
            <div class="pay_in">
                <p class="pay_color1">이름</p>
            </div>
            <div class="pay_in">
                <p class="pay_color2"  th:text="${user.nickname}"></p>
            </div>
        </div>
        <div class="pay_edge2">
            <div class="pay_in">
                <p class="pay_color1">연락처</p>
            </div>
            <div class="pay_in">
                <p class="pay_color2" th:text="${user.memPhone}"></p>
            </div>
        </div>
        <div class="pay_1">
            <p class="pay_information2">받는사람 정보</p>
            <input type="button" value="배송지변경" class="pay_button2" id="pay_click1">
            <div class="pay_edge1">
                <div class="pay_in">
                    <p class="pay_color1">이름</p>
                </div>
                <p class="pay_color2" th:text="${user.nickname}"></p>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">연락처</p>
                </div>
                <div class="pay_in">
                    <p class="pay_color2" th:text="${user.memPhone}"></p>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">우편번호</p>
                </div>
                <div class="pay_in">
                    <p class="pay_color2" th:text="${user.zipcode}"></p>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">국가</p>
                </div>
                <div class="pay_in">
                    <p class="pay_color2" th:text="${user.country}"></p>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">주/도 광역지역</p>
                </div>
                <div class="pay_in">
                    <p class="pay_color2" th:text="${user.province}">wntkdrbtkd1@naver.com</p>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">도시</p>
                </div>
                <div class="pay_in">
                    <p class="pay_color2" th:text="${user.city}">wntkdrbtkd1@naver.com</p>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">주소</p>
                </div>
                <div class="pay_in">
                    <p class="pay_color2" th:text="${user.memAdd}">wntkdrbtkd1@naver.com</p>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">배송 요청사항</p>
                </div>
                <div class="pay_in">
                    <div class="pay_color2"><input type="text" class="pay_text" name="odrcomment"></div>
                </div>
            </div>
        </div>
        <div class="pay_2">
            <p class="pay_information2">받는사람 정보</p>
            <input type="button" value="기존배송지" class="pay_button2" id="pay_click2">
            <div class="pay_edge1">
                <div class="pay_in">
                    <p class="pay_color1">이름</p>
                </div>
                <div class="pay_color2"><input type="text" class="pay_text"></div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">연락처</p>
                </div>
                <div class="pay_in">
                    <div class="pay_color2"><input type="text" class="pay_text"></div>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">우편번호</p>
                </div>
                <div class="pay_in">
                    <div class="pay_color2"><input type="text" class="pay_text"></div>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">국가</p>
                </div>
                <div class="pay_in">
                    <div class="pay_color2"><input type="text" class="pay_text"></div>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">주/도 광역지역</p>
                </div>
                <div class="pay_in">
                    <div class="pay_color2"><input type="text" class="pay_text"></div>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">도시</p>
                </div>
                <div class="pay_in">
                    <div class="pay_color2"><input type="text" class="pay_text"></div>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">주소</p>
                </div>
                <div class="pay_in">
                    <div class="pay_color2"><input type="text" class="pay_text"></div>
                </div>
            </div>
            <div class="pay_edge2">
                <div class="pay_in">
                    <p class="pay_color1">배송 요청사항</p>
                </div>
                <div class="pay_in">
                    <div class="pay_color2"><input type="text" class="pay_text"></div>
                </div>
            </div>
        </div>
        <!-- 받는사람 정보 끝 -->
        <p class="pay_information1">배송 1건 중 1</p><!-- 배송 정보 시작(사진이미지,사진이름,수량,무료배송) -->
        <div class="pay_position1">
            <div class="pay_in">
                <p class="pay_color5">내일(수) 5/8 도착 보장</p>
            </div>
<!--        </div>-->
<!--        <div th:each="register : ${registerList}"></div>-->
<!--        <form th:action="@{'/mugunghwa/orderdetail' + ${register.productId}}" method="post" enctype="multipart/form-data">-->




        <div class="pay_color6">

<!--            단일 품목일 경우, 일단 하나만 필요하므로 아래를 주석-->
<!--            <div class="pay_position2">-->
<!--                <div class="pay_image1"></div>-->
<!--                <div class="pay_in">-->
<!--&lt;!&ndash;                    <p class="pay_color7" th:text="${register.prdName}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p class="pay_po"><span>수량10개</span></p>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
            <div class="pay_position2">
                <div class="pay_image1"></div>
                <div class="pay_in">
                    <p class="pay_color7" th:text="${prdName}">못난이 사과 5kg </p>
                    <p class="pay_po" >수량<span th:text="${quan}"></span>개</p>
                </div>
            </div>

        </div>
        <!-- 배송 정보 끝 -->

        <p class="pay_information1">결제정보</p><!-- 결제정보 시작(총상품가격,배송비,총결제금액,결제방법) -->
        <div class="pay_edge1">
            <div class="pay_in">
                <p class="pay_color1">총상품가격</p>
            </div>
            <div class="pay_in">
                <p class="pay_color2" th:text="${totalPrice}">
            </div>
        </div>
        <div class="pay_edge2">
            <div class="pay_in">
                <p class="pay_color1">총결제금액</p>
            </div>
            <div class="pay_in">
                <p class="pay_color2" th:text="${totalPrice}">
            </div>
        </div>
        <div class="pay_edge6">
            <p class="pay_color8">결제방법</p>
            <div class="pay_color9"><input type="radio" class="pay_radio1" name="pay_radio" checked>신용/체크카드<input
                    type="radio" class="pay_radio2" name="pay_radio">휴대폰
                <input type="radio" class="pay_radio3" name="pay_radio">무통장입금(가상계좌)
                <div class="p1">
                    <p class="pay_edge4">카드선택<!-- 무통장입금 안해놨음 휴대폰도 db에 없다고 설명들었움 다 빼도되요 -->
                        <select id="pay_card" class="pay_select1">
                            <option value="pay_choice">선택하세요</option>
                            <option value="pay_BC">BC카드</option>
                            <option value="pay_SH">신한카드</option>
                            <option value="pay_SS">삼성카드</option>
                            <option value="pay_HD">현대카드</option>
                            <option value="pay_ KM">국민카드</option>
                        </select>
                    </p>
                    <p class="pay_edge5">할부기간
                        <select id="pay_day" class="pay_select2">
                            <option value="pay_choice">선택하세요</option>
                            <option value="pay_NOW">일시불</option>
                            <option value="pay_3M">3개월 (무이자)</option>
                            <option value="pay_6M">6개월 (무이자)</option>
                        </select>
                    </p>
                </div>
                <div class="p2">
                    <p class="pay_edge4">통신사
                        <select id="pay_tel" class="pay_select1">
                            <option value="pay_SKT">SKT</option>
                            <option value="pay_KT">KT</option>
                            <option value="pay_LG">LG</option>
                        </select>
                    </p>
                </div>

            </div><!-- 결제정보 끝 -->
            <p class="pay_last1">구매조건 확인 및 결제대행 서비스 약관 동의 <span class="pay_last2">
                    <a href=""class="link_color">보기</a></span></p>
            <p class="pay_last3">위 주문 내용을 확인 하였으며, 회원 본인은 개인정보 이용 및 결제에 동의합니다.</p>
            <div class="pay_button_beauty">
<!--                <button type="submit" class="pay_button_beauty1">결제취소</button>-->
                <form action="/mugunghwa/orderdetail" method="post" enctype="multipart/form-data">
                    <input th:value="${quan}" name="quan"/>
                    <input th:value="${totalPrice}" name="pri"/>
                    <input th:value="${register.productId}" name="productid"/>
                <button class="pay_button_beauty1">결제취소</button>
                <button type="submit" class="pay_button_beauty2">결제확인</button>
            </div>
        </div>
     </div>
</div>
</form>
<script src="/js/jquery.js"></script>
<script src="/js/payment.js"></script>
</body>
</html>