<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/login.css" rel="stylesheet">

</head>

<body>
    <div id="loginContainer">

        <div id="loginContainer_title">login</div>
        <form action="/login" method="post" >
            <div id="login_div_1">
                <input type="email" placeholder="id를 입력하세요."  id="email" name="username" required>
            </div>
            <br>

            <div id="login_div_2">
                <input type="password" placeholder="비밀번호를 입력하세요"  id="password" name="password" required>
            </div>
            <br>
            <button type="submit" id="loginBtn">로그인</button>

        </form>
        <div id="loginContainer_bottomDiv">
            <a href="" class="loginContainer_div">아이디 찾기&nbsp;&nbsp;&nbsp;|</a>
            <a href="">&nbsp;&nbsp;&nbsp;&nbsp;비밀번호 찾기&nbsp;&nbsp;&nbsp;|</a>
            <a href="join">&nbsp;&nbsp;&nbsp;&nbsp;회원가입</a>
        </div>
    </div>

</body>

</html>